<!doctype html>
<html>
    <head>
        <title><%= title %> </title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <style>
            body 		{ padding-top:80px; word-wrap:break-word; }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="page-header text-center">
                <h1><span class="fa fa-anchor"></span> Profile </h1>
                <a href="/logout" class="btn btn-default btn-sm">Logout</a>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active">
                            <a href="/blog/create">Write New Article</a>
                        </li>
                        <li class="active">
                            <a href="/home">View All Articles</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-7 col-md-offset-1">
                    <form action="/profile/<%= user._id %>/edit" method="post">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text"  value="name1" class="form-control" name="name">
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" value="name2" class="form-control" name="email">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" value="password2" class="form-control" name="password">
                        </div>
                        <div class="form-group">
                            <label>Confirm Password</label>
                            <input type="password" value="confirm password" class="form-control" name="password">
                        </div>
                        <button type="submit" class="btn btn-warning btn-lg">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>